#destino{
    height: 30px;
    width: 100%;
    background-color: #ffffff;
}

#footer{
    height: 30px;
    background-color: #bd3e25;
    color: #ffffff;
    text-align: center;
    padding-top: 15px;
    opacity: 0.9;
    width: 100%;
    position: relative;
}

#play-left{
    margin-left: 30px;
    margin-top: 10px;
    position: absolute;
    left: 0;
    top: 0;
    color: #ffffff;
}

#markers-right{
    margin-right: 30px;
    margin-top: 10px;
    position: absolute;
    right: 0;
    top: 0;
    color: #ffffff;
}