.header{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #76a7fa;
    text-align: center;
    display: table;
    font-variant:small-caps;
    letter-spacing:1pt;
    width: 100%;
}

.red-header-line{
    width: 25%;
    position: absolute;
    left: 0%;
    top: 0px;
    height: 3px;
    background-color: #bd3e25;
}

.blue-header-line{
    width: 25%;
    position: absolute;
    left: 25%;
    top: 0px;
    height: 3px;
    background-color: #76a7fa;
}

.yellow-header-line{
    width: 25%;
    position: absolute;
    left: 50%;
    top: 0px;
    height: 3px;
    background-color: #f0c94a;
}

.green-header-line{
    width: 25%;
    position: absolute;
    left: 75%;
    top: 0px;
    height: 3px;
    background-color: #45b39c;
}

#menu{
    position: absolute;
    top: 12px;
    left: 0;
    height: 25px;
}

#expand{
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 50px;
}