#upper {
    width: 100%;
    position: absolute;
}

#lower {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#bar {
    padding: 10px;
}

#panel {
    display: none;
    background-color: #ffffff;
    padding: 10px;
}
