.header{
    height: 50px;
    background: #FFFFFF;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #1556b5;
    text-align: center;
    display: table;
    font-variant:small-caps;
    letter-spacing:1pt;
}

.header-element{
    width: 24%;
    height: 50px;
    color: #505050;
    font-size: 12px;
    display: table-cell;
    vertical-align: middle;
}

.active{
    color: #1556b5;
}

.unactive{
    color: #505050;
}

.hide{
    display: none;
}